# Testing requirements for Smart Irrigation project

# Core component requirements
-r custom_components/smart_irrigation/requirements.txt

# Testing dependencies
git+https://github.com/home-assistant/core.git@2024.6.3#egg=homeassistant
pytest
pytest-cov
pytest-homeassistant-custom-component
