calculate_all_zones:
  description: Calculate all zones in automatic mode
calculate_zone:
  description: Calculate specified zone
  target:
    entity:
      domain: sensor
update_all_zones:
  description: Update weatherdata for all zones in automatic mode
update_zone:
  description: Update weatherdata for specified zone
  target:
    entity:
      domain: sensor
set_bucket:
  description: Set bucket for a zone to a specific value
  target:
    entity:
      domain: sensor
  fields:
    new_bucket_value:
      required: true
      example: -10
      default: 0
set_all_buckets:
  description: Set buckets for all zones to a specific value
  fields:
    new_bucket_value:
      required: true
      example: -10
      default: 0
reset_bucket:
  description: Reset bucket for a zone to 0
  target:
    entity:
      domain: sensor
reset_all_buckets:
  description: Reset bucket for all zones to 0
clear_all_weather_data:
  description: Clear weatherdata for all zones